.photo-list {
    height: auto;
    max-height: 900px;
    min-height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo-item {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 10px 10px 30px;
}