.mat-drawer-container {
    height: calc(100% - 64px);
}

.drawer {
    width: 20%;
    min-width: 200px;
    height: 100%;
}

.tree-invisible {
    display: none;
}

.tree ul,
.tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}